@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
.bg-primary {
  background: #0F172A;
}

.bg-secondary {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
}

/* nav */
nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477FF;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

.form-field {
  @apply block w-full bg-transparent border-2 border-[#7477FF] py-3 px-4 mb-3 max-w-lg m-auto
}

/* hero */
h1 {
  font-weight: 700;
  line-height: 1.5 !important;
}